﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="web_dev.aspx.cs" Inherits="WebUI.web.web_dev" %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网站开发-桂电求索网</title>
    <link href="../css/style.css" type="text/css" rel="stylesheet">
    <link href="../css/style5.css" type="text/css" rel="stylesheet">
    <script src="../js/iscroll.js" type="text/javascript"></script>

    <style>
        #template {
            width: 870px;
            margin: 0 auto;
            margin-top: -27px;
            padding-bottom: 75px;
            background: #f2f8fd;
        }

        #page_list > tbody > tr > td > p {
            padding-left: 13px;
        }
    </style>
</head>

<body>
    <div id="winb" style="width:1345px; margin:auto">
        <script>
            //var win;
            //win = window.screen.width;
            //if(win > 1300 && win < 1400)
            //{
            //    winb.style.width = "100%";
            //}
        </script>

        <header style="height:260px">
            <div id="header_search">
                <div style="width:80px; height:19px; margin-top:30px"><p>站内搜索：</p></div>
                <input type="text" class="search" style="margin-left:71px;">
                <input type="button" class="submit">
            </div>
            <img src="../images/web_top.jpg" style="width:100%; height:201px">
        </header>

        <div id="header_nav" style="position:relative; top:-220px">
            <ul>
                <li><a href="login.html">登录</a></li>
                <li><a href="register.html">注册</a></li>
                <li><a href="#">设为主页</a></li>
                <li><a href="#">加入收藏</a></li>
            </ul>
        </div>

            <div id="aside_nav">
                <ul onmouseover="fun()">
                    <li><a href="index.html">返回首页</a></li>
                    <li><a href="explore.html">求索简介</a></li>
                    <li class="active" onmouseover="i = 1"><a href="web_dev.aspx">网站开发</a></li>
                    <li><a href="employment.aspx">就业指导</a></li>
                    <li><a href="study.aspx">学习资源</a></li>
                    <li><a href="guet_news.aspx">桂电新闻</a></li>
                    <li><a href="movie.aspx">电影推荐</a></li>
                    <li><a href="public.html">我要发表</a></li>
                </ul>
            </div>
        <script>
            var i = 0;
            function fun() {
                if (i == 0) {
                    var acli = document.getElementsByClassName("active");
                    acli[0].style.background = "inherit";
                    this.onmouseout = function () {
                        acli[0].style.background = "url(../images/aside_nav_li_bg.png) no-repeat";
                    }
                }
                else if (i == 1) {
                    i = 0;
                }
            }
        </script>

        <div id="template">
            <div id="massage_container">
                <div class="web_title">
                    <p class="f" style="letter-spacing:20px;">标题</p>
                    <p class="s">时间</p>
                    <p class="t">作者</p>
                </div>
                <div class="web_table">
                    <table id="page_list" cellspacing="0" cellpadding="0">
                        <tbody>
                            <%for (int i = page_list.Rows.Count - 1; i > -1; --i) { %>
                            <tr>
                                <td class="td1">
                                    <p>
                                        <a href="page.aspx?id=<%=page_list.Rows[i]["id"].ToString() %>">
                                            <%=page_list.Rows[i]["title"].ToString() %>
                                        </a>
                                    </p>
                                </td>
                                <td class="td2">
                                    <p><%=Convert.ToDateTime(page_list.Rows[i]["set_time"]).ToString("yyyy-MM-dd") %></p>
                                </td>
                                <td class="td3">
                                    <p><%=page_list.Rows[i]["publisher"].ToString() %></p>
                                </td>
                            </tr>
                            <%} %>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <div class="box">
                <p>
                    <a href="#">上一页</a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">下一页</a>
                </p>
            </div>
        </div>

        <footer>
            <img src="../images/link.png" class="link_logo">
            <ul>
                <li><a href="http://www.gliet.edu.cn">桂电首页</a></li>
                <li><a href="http://iit.guet.edu.cn/main/default.asp">信息科技学院</a></li>
                <li><a href="http://219.159.198.136/">桂电北海校区</a></li>
                <li><a href="http://www2.guet.edu.cn/gfs/">桂电国防生</a></li>
                <li><a href="http://www2.guet.edu.cn/cxlt/cxlt2008/index.asp">研究生创新论坛</a></li>
                <li><a href="http://news.gliet.edu.cn/">桂电在线</a></li>
                <li><a href="http://www.myclub2.com/">第二频道</a></li>
                <li><a href="http://bbs.gliet.edu.cn/bbs/">漓江夜话</a></li>
                <li><a href="http://sctc.guet.edu.cn/">创新在线</a></li>
            </ul>
        </footer>
    </div>
</body>
</html>

